body{
	background-color:#91BF9E;
	font-family:"Raleway",sans-serif;
	font-weight:200;
	text-align:center;
	background-image:url("https://lh3.googleusercontent.com/-bQS7K-3wsag/VEzCN-bTDfI/AAAAAAAAARc/Hf8PJrwmxK0/s1280/cheetah_6-wallpaper-1600x900.jpg");
	background-size: 100%;	
}
h2{
	color:#0D451D;
	float:right;
	margin-right:50px;
}
#mapa{
	height:600px;
	width:85%;
	min-width:800px;
	float:right;
	margin-left:1%;
	margin-right:2%;
	margin-top:50px;
	border: 2px solid #0D451D;
	border-radius:5px;
}
.menu{
	float:left;
}
.listamenu{
	list-style-type:none;
	margin-top:90%;
	padding:10px 5px 10px 5px;

}
.listamenu li{
	width:150px;
	height:30px;
	padding:5px;
	padding-top:10px;
	background-color:#FFFFFF;
	font-weight:500;
	margin-top:10px;
	margin-left:1%;
	border: 2px solid #0D451D;
	border-radius:5px;
	font-size:17px;
	color:#0D451D;
}

.opcje {
	position:relative;
	margin-left:-50px;
	z-index:2;
}
.opcje li{
	padding-top:5px;
}
.opcje li:first-of-type{
	padding-top:15px;
}
.leaflet-control-layers:before{
	content:"Podkład mapowy";
	font-size:17px;
	color:#0D451D;
}
.leaflet-control-layers{
	text-decoration:none;
	text-align:left;
	border: 2px solid #0D451D;
	padding:5px;
	width:130px;	
}
.leaflet-control-layers-toggle{
	margin-left:45px;
}

.leaflet-control-zoom{
		border: 2px solid #0D451D;
}

.leaflet-control-scale:before{
	font-size:15px;
	color:#0D451D;
}
#czysc{
		width:110px;
		margin:auto;
		margin-top:10px;
}
